html {
  margin: 0;
  padding: 0;
}
*{
color: #B4A5A5 !important;

}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #151515 !important;
  
}
.logo{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.back-black{
  background-color:#151515 ;

}
.back-purple {
  background-color: #301B3F !important;
}
.back-grey {
  background-color: #3C415C;
}
.text-brown {
  color: #B4A5A5;
}
.text-black{
  color:#151515 !important;

}
.text-purple {
  color: #301B3F !important;
}
.text-grey {
 color: #3C415C !important;
}
.text-brown {
color: #B4A5A5 !important;
}